<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinzy.java.wan">

    <application
        android:name=".WanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".biz.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".biz.main.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".biz.web.WebViewActivity" />
        <activity
            android:name=".biz.chapter.TopicListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>